@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Manrope Regular'),
    url('./fonts/Manrope-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Manrope Medium'), url('./fonts/Manrope-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Manrope SemiBold'),
    url('./fonts/Manrope-SemiBold.ttf') format('ttf');
}
